@import '../../../style/_colours.scss';
.nav-link {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $surface-content;
    &--ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &--li{
        padding: 20px;
        font-size: 20px;
    }
}