<div>
    <button mat-raised-button color="primary" (click)="getOffice()">Get all offices</button>
    <button mat-raised-button color="primary" (click)="getFloor()">Get floor</button>
    <button mat-raised-button color="primary" (click)="getWorkdesk()">Get workdesk by FLOOR ID</button>
    <button mat-raised-button color="primary" (click)="createWorkdesk()">Create workdesk</button>
    <button mat-raised-button color="primary" (click)="bookWorkdesk()">Book workdesk</button>
    <button mat-raised-button color="primary" (click)="getWorkdeskByDate()">Get workdesk by DATE</button>
    <div *ngIf="isLoading">

    </div>
    <div *ngIf="!isLoading">
        <mat-form-field appearance="fill" >
            <mat-label>Choose Office</mat-label>
            <mat-select (selectionChange)="changeClient($event.value)">
                <mat-optgroup *ngFor="let group of officeGroups$.getValue()" [label]="group.name">
                    <mat-option *ngFor="let floor of group.floors" [value]="floor">
                        {{floor.name}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
          </mat-form-field>
    </div>
</div>