<div>
    <button mat-raised-button color="primary" (click)="getOffice()">Get all offices</button>
    <button mat-raised-button color="primary" (click)="getFloor()">Get floor</button>
    <button mat-raised-button color="primary" (click)="getWorkdesk()">Get workdesk by FLOOR ID</button>
    <button mat-raised-button color="primary" (click)="createWorkdesk()">Create workdesk</button>
    <button mat-raised-button color="primary" (click)="bookWorkdesk()">Book workdesk</button>
    <button mat-raised-button color="primary" (click)="getWorkdeskByDate()">Get workdesk by DATE</button>
</div>