::ng-deep.mat-dialog-container{
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
::ng-deep.mat-dialog-actions{
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}